
ion-tabs{
   --ion-tabbar-background-color: #1c1c21;                      // already exists
   --ion-tabbar-color: rgba(var(--ion-text-color-rgb), 0.4);    // suggested
   --ion-tabbar-color-selected: red;          // suggested
}

.tab{

    --color-selected : #2dd36f;
    --color-focused: #2dd36f;
}