<ion-header [translucent]="true">
  <ion-toolbar class="background1">
    <ion-title>
      POLTRYKING
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <!-- <ion-list-header>
    Business Contacts
  </ion-list-header> -->

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Business Name</h2>
      <h3>Address</h3>
      <p>Open : 04:00  - Close : 05:00</p>
    </ion-label>
      <ion-icon name="call" slot="end" style="color:#4EBE85"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
    <h2>Business Name</h2>
    <h3>Address</h3>
    <p>Open : 04:00 - Close : 05:00</p>
    </ion-label>
    <ion-icon name="call" slot="end" style="color:#4EBE85"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Business Name</h2>
      <h3>Address</h3>
      <p>Open : 04:00 - Close : 05:00</p>
    </ion-label>
    <ion-icon name="call" slot="end" style="color:#4EBE85"></ion-icon>
  </ion-item>

  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>
      <h2>Business Name</h2>
      <h3>Address</h3>
      <p>Open : 04:00 - Close : 05:00</p>
    </ion-label>
    <ion-icon name="call" slot="end" style="color:#4EBE85"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
