<ion-header>
  <ion-toolbar class="background1">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-left">Comments</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-circle-outline" (click)="closeModal();" style="font-size: 35px;margin-right: 10px;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding="true">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label class="ion-text-wrap" color="dark">
      You will often hear comments in the Ionic community that free Ionic templates are risky ... The template has a simple,
      clear and attractive design.
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-text color="dark">
        <p>You will often hear comments in the Ionic community that free Ionic templates are risky ... The template has a simple, clear and attractive design.</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-text color="dark">
        <p>You will often hear comments in the Ionic community that free Ionic templates are risky ... The template has a simple, clear and attractive design.</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-text color="dark">
        <p>You will often hear comments in the Ionic community that free Ionic templates are risky ... The template has a simple, clear and attractive design.</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-text color="dark">
        <p>You will often hear comments in the Ionic community that free Ionic templates are risky ... The template has a simple, clear and attractive design.</p>
      </ion-text>
    </ion-item>
    
    
</ion-list>
</ion-content>
<ion-footer color="light">
  <ion-toolbar color="light">
    <ion-item color="light">
   
      <input type="text" class="form-control">

      <ion-icon name="paper-plane" slot="end" style="color:#4EBE85"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-footer>